.icon {
  height:1em;
  width: auto;
}

/* *** */
/* BOXES CSS */
/* *** */

.popout {
  background-color: rgba(255,255,255,.1);
  margin: 1px;
}

.popout:hover {
  background-color: rgba(255,255,255,.2);
  height: 4em;
}

.popout:hover .box {
  display: block;
  height: 4em;
}


h1 {
  font-size: 7em;
}

h3 {
 color: white; 
}

.startUps {
  text-decoration: none;
}

.primary {
  color: #D3352A;
}

.secondary {
  color: #CC82FF;
}

#slogan {
  font-size: 3em;
}

.section {
	text-align:center;
}
#i_write {
  float: right;
  margin: 3.4%;
}
#rails {
  color: #F20000;
}
#loving_rails {
  margin-bottom: 34%;
  margin-right: 7%;
  padding-top: 7px;
  float: right;
  -webkit-transform: rotate(-16deg)
}
#frontiersman {
  float:left;
  padding-bottom: 19%;
  margin-left: 1em;
}
#territories {
  float:right;
  padding-top: 7%;
  padding-right: 1em;
}
#build {
  padding-bottom: 19%;
  margin-left: 1em;
}
#hire {
  font-size:8em;
  color:#FFBE4D;
}


/* */ Defining each section styles 
* --------------------------------------- */
#dive_in {
  color: white;
  font-family: 'Bitter', serif;
  font-size: 6em;
}
#writer {
 color: white;
 font-size:2em;
 text-align:right;
}