h1 {
  font-size: 7em;
}

h3 {
 color: white; 
}

.startUps {
  text-decoration: none;
}

.primary {
  color: #FF8287;
}

.secondary {
  color: #CC82FF;
}

.section {
	text-align:center;
}
#i_write {
  float: right;
  margin: 3.4%;
}
#rails {
  color: #F20000;
}
#loving_rails {
  margin-bottom: 34%;
  margin-right: 7%;
  padding-top: 7px;
  float: right;
  -webkit-transform: rotate(-16deg)
}
#frontiersman {
  float:left;
  padding-bottom: 19%;
  margin-left: 1em;
}
#territories {
  float:right;
  padding-top: 7%;
  padding-right: 1em;
}
#build {
  padding-bottom: 19%;
  margin-left: 1em;
}
#hire {
  font-size:8em;
  color:#FFBE4D;
}


/* */ Defining each section styles 
* --------------------------------------- */
#dive_in {
  color: white;
  font-family: 'Bitter', serif;
  font-size: 6em;
}
#writer {
 color: white;
 font-size:2em;
 text-align:right;
}